<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> <!--/ tells html to look in public folder for any file called style.css -->
    <title>Document</title>
</head>
<body>
    <nav>
        <h4>Node Project</h4>
        <ul>
            <li><a href="/">About Us</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
        </ul>
    </nav>
    <main class = "main-container">
        <section class=" main-section">
            <h1 class="section-title"> Welcome to the SD Project</h1>
            <p class ="section-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure magnam ab, officiis amet, ducimus, voluptatum aliquam nulla voluptas similique adipisci consequuntur! Nemo, dolores unde in, nobis repellat atque quisquam, animi recusandae voluptas ut laudantium labore. Quidem, alias reprehenderit accusamus placeat debitis voluptatibus dolores fuga dolorum ex aliquam et officia labore perferendis delectus, ipsam pariatur illum, minima modi quo hic doloremque.</p>
            <hr>

        </section>
    </main>
</body>
</html>