<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> <!--/ tells html to look in public folder for any file called style.css -->
    <title>Document</title>
</head>
<body>
    <nav>
        <h4>Node Project</h4>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logOut">Log out</a></li>
        </ul>
    </nav>
    <main class = "main-container">
        <section class=" main-section">
            <h1 class="section-title"> Welcome to the SD Project</h1>
            <p class ="section-para">you should know you details man,

        </section>
    </main>
</body>
</html>